/*
Son directivas de Tailwind que importan sus capas de estilos:

    - base → estilos base (reset, tipografía…)
    - components → componentes reutilizables
    - utilities → clases utilitarias (flex, bg-red-500, etc.)
*/
@tailwind base;
@tailwind components;
@tailwind utilities;

/*
Cuando el navegador autocompleta un input, le aplica un fondo blanco automático, que rompe el diseño 
si estoy usando colores personalizados.
Este código fuerza el fondo para que coincida con mi diseño (beige).
*/
/*Evitar que el autofill ponga el fondo blanco */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
    /*Simula un fondo de color usando una sombra interna (inset) muy grande para sobrescribir el color que
    pone el navegador.*/
    -webkit-box-shadow: 0 0 0px 1000px #F5F5DC inset; /* mismo color que bg-beige-crema */
    box-shadow: 0 0 0px 1000px #F5F5DC inset;
    -webkit-text-fill-color: #4b2e05; /* marrón del texto */
}

